<launch>

	<!-- COMMON_CAMERA_APPLICATION {CAMERA_ROBOT} -->
	<!-- <include file="$(find common_camera_application)/launch/camera_robot.launch"/> -->

	<!-- COMMON_CAMERA_APPLICATION {CAMERA PREVIEW} -->
	<node	pkg="common_camera_application" 
		name="camera_preview_nuc" 
		type="camera_preview_nuc.py"> 
		<!-- output="screen"> -->
	</node>

</launch>
